//*************************************
// CSS style module for section _colors
// author: Shpakov Vladyslav
// at: 18.01.2025 8:44 
//*************************************

:root {

  --dark-color: #2b2b2b;
  --light-color: #ffffff;

  --form-bg-color: #c8fdc8;
  --green-color: #017c53;

  --error-panel-bg-color: #fd7a7a;


}