//*************************************
// CSS style module for section _warn-text
// author: Shpakov Vladyslav
// at: 18.01.2025 9:57 
//*************************************

.form {
  &__warning-text {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px ;
  }
}